* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Urbanist', sans-serif;
}

body {
      color: #fafafa;
      background-color: $primary-color !important;
}

.container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 10px;
}

a {
      text-decoration: none;
      color: #fafafa;
}

.h1 {
      font-size: clamp(1.8rem, 3vw, 3rem);
      font-weight: 600;
}

.text {
      font-size: 0.95rem;
      color: #919191;
      margin: 1rem 0;
      line-height: 25px;
}

.primary_btn {
      padding: 16px 1.4rem;
      transition: ease 0.4s;
      font-weight: 500;
      border-radius: 10px;
      color: #fafafa;
      border: $border;
      border-color: $accent-color;
      background-color: $accent-color;
      border-color: $accent-color;
      box-shadow: 
            0 0 20px rgba($accent-color, 0.8),
            0 0 40px rgba($accent-color, 0.2);
      
      &:hover {
            // background-color: rgba($accent-color, 0.8);
            box-shadow: 
                  0 0 10px rgba($accent-color, 0.8),
                  0 0 20px rgba($accent-color, 0.2);
      }
}

.secondary_btn {
      padding: 16px 1.4rem;
      transition: ease 0.4s;
      font-weight: 500;
      border-radius: 10px;
      border: $border;
      background-color: $primary-color;
      
      &:hover {
            color: #fafafa;
            background-color: $accent-color;
            border-color: $accent-color;
            box-shadow: 
                  0 0 20px rgba($accent-color, 0.8),
                  0 0 40px rgba($accent-color, 0.2);
      }
}

.dark_btn {
      padding: 16px 1.4rem;
      transition: ease 0.4s;
      font-weight: 500;
      border-radius: 10px;
      border: $border;
      background-color: $primary-color;

      &:hover {
            background-color: rgba($white-color, 0.1);
      }
}

header nav {
      width: 100%;
      background-color: $secondary-color;

      .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2rem 0;

            .logo_container {
                  display: flex;
                  align-items: center;

                  img {
                        width: 40px;
                  }

                  h3 {
                        font-size: 1.6rem;
                        margin-left: 10px;

                        span {
                              color: $accent-color;
                        }
                  }
            }

            .nav_items {
                  a {
                        margin: 0 0.8rem;   
                        text-decoration: none;
                        color: #fafafa;
                        padding: 12px 0.9rem;
                        transition: ease 0.4s;
                        font-weight: 500;
                        border: 1px solid $secondary-color;

                        @media (max-width:800px) {
                              margin: 0 8px !important;
                              padding: 12px 0.7rem;
                        }
                        
                        &:hover {
                              border-radius: 8px;
                              border: $border;
                              background-color: $primary-color;
                        }
                  }

                  .active_nav {
                        border-radius: 8px;
                        border: $border;
                        background-color: $primary-color;
                  }
            }
      }

      .mobile_navigation {
            display: none;
      }

      @media (max-width:700px) {
            .navigation {
                  display: none;
            }

            .mobile_navigation {
                  display: flex;
            }

            .mobile_nav_items {
                  display: none;
            }

            .open_nav {
                  display: flex;
            }
      }
}

header .mobile_navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 0.9rem 0;

      .logo_container {
            display: flex;
            align-items: center;

            img {
                  width: 30px;
            }

            h3 {
                  font-size: 1.2rem;
                  margin-left: 10px;

                  span {
                        color: $accent-color;
                  }
            }
      }

      .mobile_nav_items {
            width: 100%;
            position: absolute;
            top: 110%;
            left: 0;
            right: 0;
            z-index: 1000;
            border: $border;
            padding: 2rem;
            border-radius: 10px;
            background-color: $secondary-color;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a:not(:last-child) {
                  margin: 0 0.8rem;   
                  text-decoration: none;
                  color: #fafafa;
                  padding: 12px 1.2rem !important;
                  transition: ease 0.4s;
                  font-weight: 500;
                  border: 1px solid $secondary-color;

                  @media (max-width:800px) {
                        margin: 0 8px !important;
                        padding: 12px 0.7rem;
                  }
                  
                  &:hover {
                        border-radius: 8px;
                        border: $border !important;
                        background-color: $primary-color;
                  }
            }

            .active_nav {
                  border-radius: 8px;
                  border: $border !important;
                  background-color: $primary-color;
            }

            a:not(:last-child) {
                  margin-bottom: 10px !important;
            }

            a:last-child {
                  margin-top: 1rem;
            }
      }

      .menu_btn {
            span {
                  transform: rotateY(180deg);
                  font-size: 2rem;
            }
      }
}

header .banner {
      width: 100%;
      background-image: url("../assets/pattern.png"), linear-gradient(266deg, rgba(21, 20, 20, 0.54) 0%, rgba(0, 0, 0, 0.62) 100%);;
      background-position: center;
      background-size: cover;
      text-align: center;
      padding: 0.6rem 0;
      position: relative;

      @media (max-width:600px) {
            text-align: left;

            .banner_text {
                  width: 88%;
                  display: inline-block;
                  margin-left: 10px;
            }

            .close {
                  right: 15px !important;
            }
      }

      span {
            color: #fafafa;

            a {
                  margin-left: 10px;
                  text-decoration: underline;
                  color: #fafafa;
            }
      }


      .close {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.10);
            cursor: pointer;

            span {
                  color: #fff;
                  font-size: 1.1rem;
            }
      }
}