* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  color: #fafafa;
  background-color: #141414 !important;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.h1 {
  font-size: clamp(1.8rem, 3vw, 3rem);
  font-weight: 600;
}

.h2 {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  font-weight: 500;
}

.text {
  font-size: 0.95rem;
  color: #919191;
  margin: 1rem 0;
  line-height: 25px;
}

.primary_btn {
  padding: 16px 1.4rem;
  transition: ease 0.4s;
  font-weight: 500;
  border-radius: 10px;
  color: #fafafa;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-color: #703BF7;
  background-color: #703BF7;
  border-color: #703BF7;
  box-shadow: 0 0 20px rgba(112, 59, 247, 0.8), 0 0 40px rgba(112, 59, 247, 0.2);
  display: block;
  text-wrap: nowrap;
}
.primary_btn:hover {
  box-shadow: 0 0 10px rgba(112, 59, 247, 0.8), 0 0 20px rgba(112, 59, 247, 0.2);
}

.secondary_btn {
  padding: 16px 1.4rem;
  transition: ease 0.4s;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background-color: #141414;
  display: block;
  text-wrap: nowrap;
}
.secondary_btn:hover {
  color: #fafafa;
  background-color: #703BF7;
  border-color: #703BF7;
  box-shadow: 0 0 20px rgba(112, 59, 247, 0.8), 0 0 40px rgba(112, 59, 247, 0.2);
}

.dark_btn {
  padding: 16px 1.4rem;
  transition: ease 0.4s;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background-color: #141414;
  display: block;
  text-wrap: nowrap;
}
.dark_btn:hover {
  background-color: rgba(153, 153, 153, 0.1);
}

section {
  padding: 5rem 0;
  overflow-x: hidden;
}

header nav {
  width: 100%;
  background-color: #1A1A1A;
}
header nav .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
header nav .navigation .logo_container {
  display: flex;
  align-items: center;
}
header nav .navigation .logo_container img {
  width: 40px;
}
header nav .navigation .logo_container h3 {
  font-size: 1.6rem;
  margin-left: 10px;
}
header nav .navigation .logo_container h3 span {
  color: #703BF7;
}
header nav .navigation .nav_items a {
  margin: 0 0.8rem;
  text-decoration: none;
  color: #fafafa;
  padding: 12px 0.9rem;
  transition: ease 0.4s;
  font-weight: 500;
  border: 1px solid #1A1A1A;
}
@media (max-width: 800px) {
  header nav .navigation .nav_items a {
    margin: 0 8px !important;
    padding: 12px 0.7rem;
  }
}
header nav .navigation .nav_items a:hover {
  border-radius: 8px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background-color: #141414;
}
header nav .navigation .nav_items .active_nav {
  border-radius: 8px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background-color: #141414;
}
header nav .mobile_navigation {
  display: none;
}
@media (max-width: 700px) {
  header nav .navigation {
    display: none;
  }
  header nav .mobile_navigation {
    display: flex;
  }
  header nav .mobile_nav_items {
    display: none;
  }
  header nav .open_nav {
    display: flex;
  }
}

header .mobile_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.9rem 0;
}
header .mobile_navigation .logo_container {
  display: flex;
  align-items: center;
}
header .mobile_navigation .logo_container img {
  width: 30px;
}
header .mobile_navigation .logo_container h3 {
  font-size: 1.2rem;
  margin-left: 10px;
}
header .mobile_navigation .logo_container h3 span {
  color: #703BF7;
}
header .mobile_navigation .mobile_nav_items {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 1000;
  border: 1px solid rgba(153, 153, 153, 0.2);
  padding: 2rem;
  border-radius: 10px;
  background-color: #1A1A1A;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .mobile_navigation .mobile_nav_items a:not(:last-child) {
  margin: 0 0.8rem;
  text-decoration: none;
  color: #fafafa;
  padding: 12px 1.2rem !important;
  transition: ease 0.4s;
  font-weight: 500;
  border: 1px solid #1A1A1A;
}
@media (max-width: 800px) {
  header .mobile_navigation .mobile_nav_items a:not(:last-child) {
    margin: 0 8px !important;
    padding: 12px 0.7rem;
  }
}
header .mobile_navigation .mobile_nav_items a:not(:last-child):hover {
  border-radius: 8px;
  border: 1px solid rgba(153, 153, 153, 0.2) !important;
  background-color: #141414;
}
header .mobile_navigation .mobile_nav_items .active_nav {
  border-radius: 8px;
  border: 1px solid rgba(153, 153, 153, 0.2) !important;
  background-color: #141414;
}
header .mobile_navigation .mobile_nav_items a:not(:last-child) {
  margin-bottom: 10px !important;
}
header .mobile_navigation .mobile_nav_items a:last-child {
  margin-top: 1rem;
}
header .mobile_navigation .menu_btn span {
  transform: rotateY(180deg);
  font-size: 2rem;
}

header .banner {
  width: 100%;
  background-image: url("../assets/pattern.png"), linear-gradient(266deg, rgba(21, 20, 20, 0.54) 0%, rgba(0, 0, 0, 0.62) 100%);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 0.6rem 0;
  position: relative;
}
@media (max-width: 600px) {
  header .banner {
    text-align: left;
  }
  header .banner .banner_text {
    width: 88%;
    display: inline-block;
    margin-left: 10px;
  }
  header .banner .close {
    right: 15px !important;
  }
}
header .banner span {
  color: #fafafa;
}
header .banner span a {
  margin-left: 10px;
  text-decoration: underline;
  color: #fafafa;
}
header .banner .close {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
header .banner .close span {
  color: #fff;
  font-size: 1.1rem;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.heading_container .left_container {
  width: 100%;
  max-width: 1000px;
}
.heading_container .right_container {
  display: inline-block;
}
.heading_container .right_container a {
  display: block;
  text-wrap: nowrap;
}
.heading_container .pattern_content {
  position: absolute;
  top: -2rem;
  left: -10px;
  width: 60px;
}
.heading_container .pattern_content img {
  width: 100%;
}
@media (max-width: 650px) {
  .heading_container .right_container {
    display: none;
  }
}

footer {
  padding: 2rem 0 0 0;
  background-color: #141414;
  text-align: center;
}
footer .logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .logo_container img {
  width: 45px;
  margin-right: 10px;
}
footer .logo_container h3 {
  font-size: 1.6rem;
}
footer .logo_container h3 span {
  color: #703BF7;
}
footer .link_container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 700px) {
  footer .link_container a {
    margin: 0 10px !important;
  }
}
footer .link_container a {
  margin: 0 1.2rem;
  font-weight: 500;
  color: #bfbfbf;
  transition: ease 0.4s;
}
footer .link_container a:hover {
  color: #703BF7;
}
footer .info_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  footer .info_container {
    flex-direction: column;
    justify-content: center;
  }
}
footer .info_container .items {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
footer .info_container .items span {
  color: #703BF7;
  margin-right: 6px;
}
footer .footer_info {
  margin-top: 3rem;
  padding: 1.6rem 0;
  background-color: #1A1A1A;
}
footer .footer_info .foot_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  footer .footer_info .foot_container {
    justify-content: center;
    flex-direction: column;
  }
  footer .footer_info .foot_container .icon_container {
    margin-top: 1rem;
  }
}
footer .footer_info .foot_container .icon_container {
  display: flex;
  gap: 10px;
}
footer .footer_info .foot_container .icon_container img {
  width: 45px;
}

.form_section {
  margin-top: 2rem;
}
.form_section .form_container {
  padding: 3rem;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 20px;
}
.form_section .form_container .form_row {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 2rem;
}
.form_section .form_container .form_row .input_group label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}
.form_section .form_container .form_row .input_group input, .form_section .form_container .form_row .input_group textarea {
  width: 100%;
  height: 50px;
  color: #fafafa;
  outline: none;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 6px;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: #1A1A1A;
}
.form_section .form_container .form_row .drop_input_group {
  position: relative;
}
.form_section .form_container .form_row .drop_input_group label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}
.form_section .form_container .form_row .drop_input_group select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 50px;
  color: #fafafa;
  outline: none;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 6px;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: #1A1A1A;
}
.form_section .form_container .form_row .drop_input_group .drop_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1A1A1A;
  display: grid;
  place-items: center;
  pointer-events: none;
  border: 1px solid rgba(153, 153, 153, 0.2);
}
.form_section .form_container .form_row .drop_input_group .drop_icon span {
  margin-top: 3px;
}
.form_section .form_container .form_row textarea {
  padding: 1rem !important;
  height: 100px !important;
}
.form_section .form_container .form_row:last-child {
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .form_section .form_container {
    padding: 2rem 1rem !important;
  }
  .form_section .form_container .form_row {
    gap: 10px;
  }
}

.submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.submission p {
  color: rgba(153, 153, 153, 0.8);
  display: flex;
  align-items: center;
}
.submission input[type=checkbox] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  background-color: #1A1A1A;
  accent-color: #703BF7 !important;
  background-color: #1A1A1A !important;
}
@media (max-width: 600px) {
  .submission {
    flex-direction: column;
    justify-content: center;
  }
  .submission a {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}

.features_section {
  padding: 10px;
  background-color: #1A1A1A;
  width: 100%;
}
.features_section .features {
  display: grid;
  gap: 20px;
  padding: 10px;
  background-color: #141414;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
@media (max-width: 600px) {
  .features_section .features {
    gap: 5px;
    padding: 6px;
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 14px;
  }
  .features_section .features .items {
    padding: 2rem 8px !important;
  }
  .features_section .features .items h3 {
    font-size: 0.9rem !important;
  }
}
.features_section .features .items {
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background-color: #1A1A1A;
  position: relative;
}
.features_section .features .items .icon_container {
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.features_section .features .items .icon_container img {
  width: 100%;
}
.features_section .features .items h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}
.features_section .features .items .arrow_link {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(153, 153, 153, 0.6);
  cursor: pointer;
}
.features_section .features .items .arrow_link span {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform ease 0.4s;
}
.features_section .features .items .arrow_link:hover span {
  transform: scale(1.1) translate(3px, -3px);
  color: #703BF7;
}

header .hero_background {
  position: relative;
}
header .hero_background .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  min-height: 80vh;
}
header .hero_background .container .left_container {
  width: 50%;
  display: grid;
  padding-right: 1rem;
}
header .hero_background .container .left_container .text_container {
  align-self: center;
}
header .hero_background .container .left_container .text_container .btn_container {
  display: flex;
  margin: 2rem 0;
}
header .hero_background .container .left_container .text_container .btn_container a {
  margin-right: 1rem;
}
header .hero_background .container .left_container .text_container .counter_section {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: 20px;
  margin-top: 2.5rem;
}
header .hero_background .container .left_container .text_container .counter_section .items {
  border: 1px solid rgba(153, 153, 153, 0.2);
  padding: 1rem 1rem;
  background-color: #1A1A1A;
  border-radius: 12px;
}
header .hero_background .container .left_container .text_container .counter_section .items .count {
  font-size: 2rem;
}
header .hero_background .container .right_container {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #1A1A1A;
  overflow: hidden;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: top right;
  display: grid;
}
header .hero_background .container .right_container img {
  width: 100%;
  align-self: flex-end;
}
@media (max-width: 800px) {
  header .hero_background .container {
    flex-direction: column-reverse;
    padding: 2rem 10px;
  }
  header .hero_background .container .left_container {
    width: 100% !important;
    padding-right: 0 !important;
    margin-top: 3rem;
  }
  header .hero_background .container .left_container .text_container .counter_section {
    width: 100% !important;
    gap: 10px;
    grid-template-areas: "item1 item2" "item3 item3";
  }
  header .hero_background .container .left_container .text_container .counter_section .items:nth-child(1) {
    grid-area: item1;
  }
  header .hero_background .container .left_container .text_container .counter_section .items:nth-child(2) {
    grid-area: item2;
  }
  header .hero_background .container .left_container .text_container .counter_section .items:nth-child(3) {
    grid-area: item3;
  }
  header .hero_background .container .left_container .text_container .counter_section .text {
    font-size: 0.8rem !important;
  }
  header .hero_background .container .right_container {
    width: 100% !important;
    position: relative !important;
    margin: 1rem 0;
    border-radius: 10px;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  header .hero_background .container .left_container {
    margin-top: 2rem !important;
  }
  header .hero_background .container .left_container .btn_container {
    display: block !important;
  }
  header .hero_background .container .left_container .btn_container a {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  header .hero_background .container .left_container .counter_section .items {
    text-align: center !important;
  }
}

header .hero_background {
  overflow-x: hidden;
}
header .hero_background .left_container {
  position: relative;
}
header .hero_background .rotate_content {
  position: absolute;
  top: 15%;
  left: 90%;
  z-index: 10;
}
header .hero_background .rotate_content #rotate_text {
  position: relative;
  width: 140px;
  height: 140px;
  background-color: #141414;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-color: rgba(153, 153, 153, 0.4);
  border-radius: 50%;
  padding: 5px;
  box-sizing: content-box;
  background-image: url("../assets/arrow.png");
  background-size: 80px 80px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: rotate 10s linear infinite;
}
header .hero_background .rotate_content #rotate_text:hover {
  animation-play-state: paused;
}
header .hero_background .rotate_content #rotate_text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 70px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
}
@media (max-width: 800px) {
  header .hero_background .rotate_content {
    left: 2% !important;
    top: -40% !important;
  }
}
@media (max-width: 600px) {
  header .hero_background .rotate_content {
    left: 2% !important;
    top: -25% !important;
  }
  header .hero_background .rotate_content #rotate_text {
    width: 100px !important;
    height: 100px !important;
    background-size: 50px 50px;
  }
  header .hero_background .rotate_content span {
    transform-origin: 0 50px !important;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carousel_container .mySwiper {
  padding: 2rem 0 5rem 0;
}
.carousel_container .swiper-slide {
  border: 1px solid rgba(153, 153, 153, 0.2);
  padding: 25px;
  border-radius: 10px;
}
.carousel_container .swiper-slide .dark_btn {
  display: inline-block;
  margin: 1rem 0 0px 0 !important;
}
@media (max-width: 640px) {
  .carousel_container .swiper-slide {
    padding: 20px 15px;
  }
}
.carousel_container .swiper-slide .img_container {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.carousel_container .swiper-slide .img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel_container .swiper-slide .text_container {
  margin-top: 1rem;
}
.carousel_container .swiper-slide .text_container h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.carousel_container .swiper-slide .text_container p {
  font-size: 0.9rem;
  margin: 5px 0 !important;
}
.carousel_container .swiper-slide .text_container p button {
  border: none;
  background: none;
  color: #fafafa;
  text-decoration: underline;
  cursor: pointer;
}
.carousel_container .swiper-slide .text_container .tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}
.carousel_container .swiper-slide .text_container .tags_container .tag {
  padding: 2px 12px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 30px;
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
}
.carousel_container .swiper-slide .text_container .tags_container .tag p {
  font-size: 0.8rem;
  margin-left: 5px !important;
}
.carousel_container .swiper-slide .text_container .action_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
}
@media (max-width: 640px) {
  .carousel_container .swiper-slide .text_container .action_container a {
    padding: 14px 1rem !important;
    font-size: 0.9rem;
  }
}

.carousel_container .swiper-button-next::after, .carousel_container .swiper-button-prev::after {
  content: "";
}
.carousel_container .swiper-button-next, .carousel_container .swiper-button-prev {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 50%;
  background-color: #141414;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  top: 94% !important;
}
.carousel_container .swiper-button-prev {
  background-image: url("../assets/left.png") !important;
  right: 70px !important;
  left: unset !important;
}
@media (max-width: 650px) {
  .carousel_container .swiper-button-prev {
    right: unset !important;
    left: 25% !important;
  }
}
.carousel_container .swiper-button-next {
  background-image: url("../assets/right.png") !important;
}
@media (max-width: 650px) {
  .carousel_container .swiper-button-next {
    right: unset !important;
    left: 60% !important;
  }
}
.carousel_container .swiper-pagination-custom {
  width: -moz-fit-content;
  width: fit-content;
  top: 92% !important;
  left: 0 !important;
}
@media (max-width: 650px) {
  .carousel_container .swiper-pagination-custom {
    top: 93% !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
.carousel_container .secondary_btn {
  display: none;
}
@media (max-width: 650px) {
  .carousel_container .secondary_btn {
    display: block;
    text-align: center;
  }
}
.carousel_container hr {
  border: 1px solid rgba(153, 153, 153, 0.2);
  margin-top: 2rem;
}

.testimonials_section .secondary_btn {
  margin-top: 1rem;
}
.testimonials_section .testimonial_item .ratings {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}
.testimonials_section .testimonial_item .ratings img {
  width: 30px;
}
.testimonials_section .testimonial_item .profile_container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.testimonials_section .testimonial_item .profile_container .img_container {
  width: 60px !important;
  height: 60px !important;
  overflow: hidden !important;
  border-radius: 50%;
}
.testimonials_section .testimonial_item .profile_container .text_content {
  margin-left: 1rem;
}
.testimonials_section .testimonial_item .profile_container .text_content p {
  margin: 0 !important;
  font-size: 0.9rem;
}

.call_to_action {
  padding: 4rem 0;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background: url("../assets/abstract-1.png"), url("../assets/abstract-2.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 300px, 500px 300px;
}
@media (max-width: 700px) {
  .call_to_action {
    background-position: bottom right, top left !important;
  }
  .call_to_action .container {
    flex-direction: column;
  }
  .call_to_action .container .primary_btn {
    width: 100%;
    text-align: center;
  }
}
.call_to_action .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call_to_action .container .text_container {
  width: 100%;
  max-width: 1000px;
}

.about_hero_bg {
  width: 100%;
}
.about_hero_bg .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 80vh;
}
@media (max-width: 900px) {
  .about_hero_bg .container {
    flex-direction: column-reverse;
  }
  .about_hero_bg .container .left_container, .about_hero_bg .container .right_container {
    margin-top: 3rem;
    width: 100% !important;
  }
  .about_hero_bg .container .right_container {
    margin-top: 2rem !important;
  }
}
.about_hero_bg .container .left_container {
  width: 46%;
}
.about_hero_bg .container .counter_section {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: 20px;
  margin-top: 4rem;
}
.about_hero_bg .container .counter_section .items {
  border: 1px solid rgba(153, 153, 153, 0.2);
  padding: 1rem 1rem;
  background-color: #1A1A1A;
  border-radius: 12px;
}
.about_hero_bg .container .counter_section .items .count {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .about_hero_bg .container .counter_section {
    width: 100% !important;
    gap: 10px;
    grid-template-areas: "item1 item2" "item3 item3";
    margin-top: 2rem !important;
  }
  .about_hero_bg .container .counter_section .items:nth-child(1) {
    grid-area: item1;
  }
  .about_hero_bg .container .counter_section .items:nth-child(2) {
    grid-area: item2;
  }
  .about_hero_bg .container .counter_section .items:nth-child(3) {
    grid-area: item3;
  }
  .about_hero_bg .container .counter_section .text {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 600px) {
  .about_hero_bg .container .counter_section .items {
    text-align: center !important;
  }
}
.about_hero_bg .container .right_container {
  width: 50%;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 10px;
  background: linear-gradient(to right, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.6)), url("../assets/abstract.png");
  background-size: cover;
  background-position: center;
}
.about_hero_bg .container .right_container .img_container img {
  width: 100%;
  opacity: 1 !important;
}

.about_main .our_values .container, .services_main .our_values .container, .contact_main .our_values .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_main .our_values .container .left_container, .services_main .our_values .container .left_container, .contact_main .our_values .container .left_container {
  width: 35%;
}
.about_main .our_values .container .right_container, .services_main .our_values .container .right_container, .contact_main .our_values .container .right_container {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: #1A1A1A;
}
.about_main .our_values .container .right_container .values_container, .services_main .our_values .container .right_container .values_container, .contact_main .our_values .container .right_container .values_container {
  padding: 2rem;
  background-color: #141414;
  border-radius: 10px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  gap: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about_main .our_values .container .right_container .values_container .item_head, .services_main .our_values .container .right_container .values_container .item_head, .contact_main .our_values .container .right_container .values_container .item_head {
  display: flex;
  align-items: center;
}
.about_main .our_values .container .right_container .values_container .item_head h3, .services_main .our_values .container .right_container .values_container .item_head h3, .contact_main .our_values .container .right_container .values_container .item_head h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.about_main .our_values .container .right_container .values_container .items .icon_container, .services_main .our_values .container .right_container .values_container .items .icon_container, .contact_main .our_values .container .right_container .values_container .items .icon_container {
  width: 55px;
  height: 55px;
  border: 2px solid #703BF7;
  border-radius: 50%;
  margin-right: 1rem;
  display: grid;
  place-items: center;
}
.about_main .our_values .container .right_container .values_container .items .icon_container span, .services_main .our_values .container .right_container .values_container .items .icon_container span, .contact_main .our_values .container .right_container .values_container .items .icon_container span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #703BF7;
}
.about_main .our_values .container .right_container .values_container .items img, .services_main .our_values .container .right_container .values_container .items img, .contact_main .our_values .container .right_container .values_container .items img {
  width: 65px;
  margin-right: 1rem;
}
.about_main .our_values .container .right_container .values_container::before, .services_main .our_values .container .right_container .values_container::before, .contact_main .our_values .container .right_container .values_container::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  background-color: rgba(135, 135, 135, 0.2);
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}
.about_main .our_values .container .right_container .values_container::after, .services_main .our_values .container .right_container .values_container::after, .contact_main .our_values .container .right_container .values_container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  background-color: rgba(135, 135, 135, 0.2);
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .about_main .our_values .container, .services_main .our_values .container, .contact_main .our_values .container {
    flex-direction: column;
  }
  .about_main .our_values .container .left_container, .about_main .our_values .container .right_container, .services_main .our_values .container .left_container, .services_main .our_values .container .right_container, .contact_main .our_values .container .left_container, .contact_main .our_values .container .right_container {
    width: 100% !important;
  }
  .about_main .our_values .container .right_container .values_container, .services_main .our_values .container .right_container .values_container, .contact_main .our_values .container .right_container .values_container {
    padding: 1rem !important;
    grid-template-columns: 1fr;
  }
  .about_main .our_values .container .right_container .values_container .items:not(:last-child), .services_main .our_values .container .right_container .values_container .items:not(:last-child), .contact_main .our_values .container .right_container .values_container .items:not(:last-child) {
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  }
  .about_main .our_values .container .right_container .values_container::after, .about_main .our_values .container .right_container .values_container::before, .services_main .our_values .container .right_container .values_container::after, .services_main .our_values .container .right_container .values_container::before, .contact_main .our_values .container .right_container .values_container::after, .contact_main .our_values .container .right_container .values_container::before {
    content: unset;
  }
}

.about_main .achievements .achievements_container {
  margin-top: 2rem;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.about_main .achievements .achievements_container .items {
  position: relative;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 10px;
  padding: 2rem;
  background-color: #141414;
}
.about_main .achievements .achievements_container .items::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  border-radius: 10px;
  background-color: #1A1A1A;
}

.about_main .features .features_container {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 2rem;
}
.about_main .features .features_container .items {
  position: relative;
}
.about_main .features .features_container .items .item_head {
  padding: 15px;
  position: relative;
}
.about_main .features .features_container .items .item_head::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, #703BF7, rgba(153, 153, 153, 0.05) 40%);
}
.about_main .features .features_container .items .text_content {
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 10px;
  padding: 2rem;
  border-top-left-radius: 0 !important;
  background: linear-gradient(to bottom right, rgba(112, 59, 247, 0.3) 0%, rgba(0, 0, 0, 0) 20%);
}
.about_main .features .features_container .items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 90%;
  background: linear-gradient(#703BF7, rgba(153, 153, 153, 0.05) 60%);
}
@media (max-width: 400px) {
  .about_main .features .features_container {
    grid-template-columns: 1fr !important;
  }
}

.about_main .team .team_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}
@media (max-width: 600px) {
  .about_main .team .team_container {
    gap: 20px;
  }
  .about_main .team .team_container .items .text_content {
    margin-top: -15px !important;
  }
  .about_main .team .team_container .items .img_container .icon_container {
    transform: translateY(-25px) !important;
    opacity: 1 !important;
  }
}
.about_main .team .team_container .items {
  padding: 20px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 20px;
}
.about_main .team .team_container .items .img_container img {
  width: 100%;
  border-radius: 10px;
}
.about_main .team .team_container .items .img_container .icon_container {
  width: 70px;
  height: 45px;
  display: grid;
  place-content: center;
  padding: 10px 0;
  border-radius: 30px;
  background-color: #703BF7;
  margin: 0 auto;
  opacity: 0;
  transition: ease 0.4s;
}
.about_main .team .team_container .items .img_container .icon_container img {
  width: 30px;
}
.about_main .team .team_container .items .text_content {
  text-align: center;
  margin-top: -10px;
}
.about_main .team .team_container .items .text_content h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.about_main .team .team_container .items .text_content p {
  font-weight: 500;
  margin: 5px 0 0 0 !important;
}
.about_main .team .team_container .items .text_content .input_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 1rem;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background-color: #1A1A1A;
  padding: 10px 1rem;
  border-radius: 30px;
}
.about_main .team .team_container .items .text_content .input_group input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #fafafa;
}
.about_main .team .team_container .items .text_content .input_group .icon_container {
  width: 40px;
  height: 40px;
  background-color: #703BF7;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.about_main .team .team_container .items .text_content .input_group .icon_container span {
  transition: ease 0.4s;
  font-weight: 600;
}
.about_main .team .team_container .items .text_content .input_group:hover span {
  transform: rotate(-45deg);
}
.about_main .team .team_container .items:hover .img_container .icon_container {
  transform: translateY(-25px);
  opacity: 1;
  cursor: pointer;
}

.about_main .carousel_container .swiper-slide {
  padding: 0 !important;
  border: 10px solid #1A1A1A;
}
.about_main .carousel_container .clients_item {
  border: 1px solid rgba(153, 153, 153, 0.2);
  padding: 2rem;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .about_main .carousel_container .clients_item {
    padding: 1rem;
  }
  .about_main .carousel_container .clients_item .head_text {
    flex-direction: column;
    align-items: flex-start;
  }
  .about_main .carousel_container .clients_item .head_text .secondary_btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
  .about_main .carousel_container .clients_item .info_content {
    gap: 10px;
  }
  .about_main .carousel_container .clients_item .info h4 {
    font-size: 0.9rem !important;
  }
  .about_main .carousel_container .clients_item .comment {
    margin: 0 !important;
    margin-top: 1rem !important;
  }
  .about_main .carousel_container .clients_item .comment p:nth-child(2) {
    font-size: 0.9rem;
  }
}
.about_main .carousel_container .clients_item .head_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_main .carousel_container .clients_item .head_text h2 {
  font-weight: 500;
}
.about_main .carousel_container .clients_item .head_text .text {
  margin: 0 !important;
  margin-bottom: 10px;
}
.about_main .carousel_container .clients_item .secondary_btn {
  display: inline-block !important;
}
.about_main .carousel_container .clients_item .info_content {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.about_main .carousel_container .clients_item .info_content .info .text {
  display: flex;
  align-items: center;
}
.about_main .carousel_container .clients_item .info_content .info .text span:nth-child(1) {
  font-size: 1.2rem;
}
.about_main .carousel_container .clients_item .info_content .info .text span {
  margin-right: 5px;
}
.about_main .carousel_container .clients_item .info_content .info h4 {
  font-weight: 500;
  margin-top: 10px;
  font-size: 1.1rem;
}
.about_main .carousel_container .clients_item .info_content .text {
  margin: 0 !important;
}
.about_main .carousel_container .clients_item .comment {
  margin: 3rem 1rem 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 10px;
}
.about_main .carousel_container .clients_item .comment .text {
  margin: 0 !important;
}
.about_main .carousel_container .clients_item .comment p:nth-child(2) {
  margin-top: 10px;
  line-height: 25px;
}

.property_hero {
  padding: 8rem 0;
  border: 1px solid rgba(153, 153, 153, 0.2);
  background: linear-gradient(96deg, #262626 -26.82%, rgba(38, 38, 38, 0) 40.46%);
}

.search_section {
  padding: 0 !important;
  overflow-x: visible !important;
}

.search_container {
  width: 100%;
  position: relative;
  overflow-x: visible !important;
  z-index: 10;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -50px;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 10px solid #1A1A1A;
  background-color: #1A1A1A;
}
.search_container .search_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 12px 10px;
  background-color: #141414;
}
.search_container .search_group input {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  color: #fafafa;
  padding: 0 10px;
  font-size: 1.2rem;
  background: transparent;
}
.search_container .search_group .primary_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search_container .search_group .primary_btn span:nth-child(1) {
  margin-right: 10px;
}
.search_container .search_group .primary_btn span:nth-child(2) {
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .search_container .search_group .primary_btn span:nth-child(1) {
    margin-right: 0 !important;
  }
  .search_container .search_group .primary_btn span:nth-child(2) {
    font-size: 1.1rem;
    display: none;
  }
}

.filter_container {
  width: 100%;
  overflow-x: visible !important;
  z-index: 10;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px !important;
  border-radius: 15px;
  background-color: #1A1A1A;
}
@media (max-width: 600px) {
  .filter_container {
    margin-top: 1rem;
  }
}
.filter_container .filters {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.filter_container .filter_group {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: #141414;
}
.filter_container .filter_group > span:nth-child(1) {
  padding-right: 5px;
  font-size: 1.2rem;
  color: rgba(153, 153, 153, 0.8);
  border-right: 1px solid rgba(153, 153, 153, 0.4);
}
.filter_container .filter_group select {
  width: 100%;
  height: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  color: rgba(153, 153, 153, 0.8);
  background: transparent;
  padding-left: 10px;
  font-size: 1rem;
}
.filter_container .filter_group select option:active, .filter_container .filter_group select option:focus {
  background: #1A1A1A !important;
}
.filter_container .filter_group select option {
  background-color: #141414;
}
.filter_container .filter_group .drop_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1A1A1A;
  display: grid;
  place-items: center;
  pointer-events: none;
  border: 1px solid rgba(153, 153, 153, 0.2);
}
.filter_container .filter_group .drop_icon span {
  margin-top: 3px;
}

.property_value .property_value_container {
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item5";
  gap: 20px;
  margin-top: 2rem;
}
.property_value .property_value_container .items:nth-child(1) {
  grid-area: item1;
}
.property_value .property_value_container .items:nth-child(2) {
  grid-area: item2;
}
.property_value .property_value_container .items:nth-child(3) {
  grid-area: item3;
}
.property_value .property_value_container .items:nth-child(4) {
  grid-area: item4;
}
.property_value .property_value_container .items:nth-child(5) {
  grid-area: item5;
}
.property_value .property_value_container .items {
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 12px;
  padding: 2.4rem 2rem;
}
.property_value .property_value_container .items .head_content {
  display: flex;
  align-items: center;
}
.property_value .property_value_container .items .head_content img {
  width: 65px;
  margin-right: 20px;
}
.property_value .property_value_container .items .head_content h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
.property_value .property_value_container .items:last-child {
  background: linear-gradient(to right, rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.3)), url("../assets/pattern.png");
}
.property_value .property_value_container .items:last-child .head_content {
  justify-content: space-between !important;
}
@media (max-width: 800px) {
  .property_value .property_value_container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    grid-template-areas: unset !important;
  }
  .property_value .property_value_container .items {
    grid-area: unset !important;
    padding: 2.4rem 1rem !important;
  }
  .property_value .property_value_container .items:last-child .head_content {
    flex-direction: column;
    justify-content: center;
  }
  .property_value .property_value_container .items:last-child .head_content .dark_btn {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}/*# sourceMappingURL=index.css.map */